@font-face {
  font-family: "Questrial";
  font-weight: 400;
  font-display: block;
}

@font-face {
  font-family: 'yekanBakh';
  src: url('assets/fonts/YekanBakhFaNum-Bold.ttf');
  font-weight: bold;
  font-style: normal;
  font-display: block !important;
}

@font-face {
  font-family: 'yekanBakh';
  src: url('assets/fonts/YekanBakhFaNum-Regular.ttf');
  font-weight: normal;
  font-style: normal;
  font-display: block !important;
}

@font-face {
  font-family: 'yekanBakh';
  src: url('assets/fonts/YekanBakhFaNum-Light.ttf');
  font-weight: 300;
  font-style: normal;
  font-display: block !important;
}

@font-face {
  font-family: 'yekanBakh';
  src: url('assets/fonts/YekanBakhFaNum-Thin.ttf');
  font-weight: 100;
  font-style: normal;
  font-display: block !important;
}

@font-face {
  font-family: 'yekanBakh';
  src: url('assets/fonts/YekanBakhFaNum-Fat.ttf');
  font-weight: 800;
  font-style: normal;
  font-display: block !important;
}
