.star-rating {
        background-image: url("assets/images/star.svg") !important;
        }

        .star-rating .star-value {
        background-image: url("assets/images/star-on.svg") !important;
        }
