.dir-ltr {
  direction: ltr;
}

.font-12 {
  font-size: 12px;
}

.font-14 {
  font-size: 12px;
}

.font-16 {
  font-size: 16px;
}

body {
  font-size: 14px;
}

.bg-grey {
  //@media screen and (min-width: 48em) {
    background: #f7f7f7;
  //}
}

.font-12 {
  font-size: 12px;
}

body {
  font-family: "yekanBakh";
  overflow-x: hidden;
}

.text-my-orange {
  color: $my-orange;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

.rater {
  direction: ltr;
}

.carts-with-shadow-container {
  display: flex;
  justify-content: center;
}

.carts-with-shadow-container > div {
  padding: 10px 10px;
  display: inline-block;
  overflow: hidden;
}

.black-to-orange {
  transition: .3s;
}

.black-to-orange:hover {
  filter: invert(82%) sepia(25%) saturate(755%) hue-rotate(343deg) brightness(101%) contrast(98%);
}

.black-to-orange-container:hover img {
  filter: invert(82%) sepia(25%) saturate(755%) hue-rotate(343deg) brightness(101%) contrast(98%);
}

.black-to-orange-container img {
  transition: .3s;
}

.tickets-number{
  background: #de350b;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
}