.checkout__main-section {
  background: #FFFFFF;
  box-shadow: 0 10px 26px rgb(154 154 154 / 15%);
  border-radius: 14px;
  margin-bottom: 40px;

  @media screen and (min-width: 62em) {
    width: calc(100% - 440px);
    margin-bottom: 0;
  }
}

.checkout__main-section .select-selected{
  padding: 14px 25px 11px;
}

.checkout__main-section input, .checkout__main-section textarea {
  background: #f9f9fa !important;
  border-radius: 12px;
  border: none !important;
  outline: none;
  box-shadow: none !important;
  padding: 14px 25px 11px;
  font-size: 13px;
  direction: rtl;
}

.checkout__main-section .form-label img {
  transform: translateY(-3px);
}

.checkout__main-section__heading {
  font-size: 16px;
  padding: 15px 40px 15px;
  border-bottom: 1px solid #e9e9e9;
}

.checkout__main-section form {
  padding: 30px;
}

.checkout__main-section form .form-label {
  padding-right: 25px;
}

.checkout-aside__buttons-container {
  padding: 10px 0 50px;
}

input[name="payment"] {
  display: none;
}

input[name="payment"]:checked ~ span {
  color: #00B517;
}

.input-type-radio-outward {
  width: 12px;
  height: 12px;
  border: 1px solid #757575;
  border-radius: 50%;
  position: relative;
}

input[name="payment"]:checked + .input-type-radio-outward:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 8px;
  height: 8px;
  background: #00B517;
  border-radius: 50%;
}

.checkout-aside__buttons-container label {
  cursor: pointer;
  padding-top: 10px;
}
.your-order table tbody tr td{
  font-size: 15px !important;
}
.your-order table tbody tr:first-child td{
  padding-bottom: 0;
  font-size: 16px !important;
  color: #1B2A30;
}
.your-order table tbody tr:nth-last-child(2) td:first-child{
  font-size: 16px !important;
  color: #1B2A30;
}
.your-order table tbody tr:nth-last-child(3) td:first-child{
  font-size: 16px !important;
  color: #1B2A30;
}

.your-order table tbody tr td:last-child{
  width: 1%;
  white-space: nowrap;
}