.profile-container img {
  width: 40px;
  height: 40px;
}

.dashboard-aside {
  width: calc(20%);
  background: #FFFFFF;
  border-radius: 14px;
  box-shadow: 0 10px 26px rgba(154, 154, 154, 0.15);
  overflow: hidden;
}

.last-transaction {
  width: 100%;
  @media screen and (min-width: 62em) {
    width: calc(80% - 50px);
  }
}

.last-transaction__table-container {
  background: #FFFFFF;
  border-radius: 14px;
  box-shadow: 0 10px 26px rgba(154, 154, 154, 0.15);
  padding: 20px;
}

.last-transaction__table-container thead th {
  background: #f3f4f4;
  height: 44px;
  vertical-align: middle;
}


.last-transaction__table-container tbody td {
  padding: 20px 10px;
  vertical-align: middle;

}

.last-transaction__table-container thead th:first-child {
  border-radius: 0 12px 12px 0;
}


.last-transaction__table-container thead th:last-child {
  border-radius: 12px 0 0 12px;
}

.profile-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 40px 25px;
}

.profile-container > div > span:first-child {
  font-size: 16px;
  font-weight: bold;
}

.profile-container > div > span:last-child {
  font-size: 12px;
  color: #8F92A1;
}

.dashboard-aside ul {
  list-style: none;
  padding-right: 25px;
  padding-left: 25px;
}

.dashboard-aside ul li {
  height: 32px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-weight: bold;
}

.dashboard-aside ul img {
  width: 20px;
  margin-left: 20px;
}

.dashboard-icon-active {
  display: none;
}

.dashboard-active {
  color: $my-orange;
  position: relative;

  &:before {
    content: '';
    height: 100%;
    width: 6px;
    position: absolute;
    top: 0;
    right: -28px;
    border-radius: 1000000000px;
    background: $my-orange;
  }

  img {
    display: none;
  }

  .dashboard-icon-active {
    display: inline-block;
  }
}

.dashboard-li-separator {
  height: 1px !important;
  background: #e9e9e9;
}

.dashboard__heading {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 15px;
  display: block;
}

.success-payment {
  border-radius: 10px;
  color: #00B517;
  background: #ccf0d0;
  display: inline-block;
  padding: 6px 8px;
}

.see-all-transactions {
  background: $my-orange;
  color: #FFFFFF !important;
  font-size: 12px;
  font-weight: bold;
  border: none;
  width: calc(100% - 30px);
  height: 40px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.dashboard-section {
  margin-top: 80px;
}

.acc-info-container {
  background: #FFFFFF;
  border-radius: 14px;
  box-shadow: 0 10px 26px rgb(154 154 154 / 15%);
  padding: 40px 20px;
  max-width: 100%;
  margin: auto;
}

.acc-info-container > div > div > div > span:first-child {
  font-size: 13px;
  font-weight: bold;
  display: inline-block;
  margin-bottom: 5px;
}

.acc-info-container > div > div > div > span:last-child {
  font-size: 15px;
  color: #8F92A1;
}

.acc-info-container > div:first-child {
  @media screen and (min-width: 48em) {
    border-left: 1px solid #E9E9E9;
  }
}

.acc-info-container > div > div {
  padding: 0 20px 40px 0;
}

.acc-info-container > div > div:last-child {
  padding: 0 20px 0 0;
}

.addresses-container {
  background: #FFFFFF;
  border-radius: 14px;
  box-shadow: 0 10px 26px rgb(154 154 154 / 15%);
  padding: 40px 20px 0;
}

.address-erase {
  margin-right: 6px;
}

.dashboard__address {
  font-size: 13px;
  font-weight: bold;
  align-self: center;
}

.height-control-after-edit > span {
  font-size: 15px;
  color: #8F92A1;
  display: block;
  margin-bottom: 10px;
}

.add-address-btn {
  width: 100%;
  text-align: right;
  font-weight: bold;
  padding: 20px 0 20px 0 !important;
}

.add-address-form {
  border-top: 1px solid #e9e9e9;
  position: relative;
}

.add-address-form form, .dashboard__address-container form {
  overflow: hidden;
  transition: .3s;
}

.add-address-form form.closed, .dashboard__address-container form.closed {
  height: 0 !important;
}

.add-address-form input, .dashboard__address-container input {
  background: #f9f9fa !important;
  border-radius: 12px;
  border: none !important;
  outline: none;
  box-shadow: none !important;
  padding: 14px 25px 11px;
  font-size: 13px;
  direction: rtl;
  margin-top: 20px;
}

.add-address-form .custom-select-container, .dashboard__address-container .custom-select-container {
  margin-top: 20px;
}

.add-address-form .save-address-btn {
  position: absolute;
  bottom: 0;
}


.save-address-btn {
  width: 100%;
  text-align: right;
  font-weight: bold;
  padding: 9px 0 !important;
  border: none;

  background: #FFFFFF;
}

form.closed .save-address-btn {
  opacity: 0;
  pointer-events: none;
}

form .save-address-btn {
  opacity: 1;
  pointer-events: unset;
  transition: .3s;
  display: flex;
  justify-content: center;
}

.save-address-btn button {
  color: #FFFFFF;
  background: #FCA01F;
  margin: auto;
  border: none;
  border-radius: 4px;
  height: 45px;
  padding: 0 15px;
}

.height-control-after-edit {
  overflow: hidden;
}

.height-control-after-edit.closed {
  height: 0;
}

.acc-info-container input {
  background: #f9f9fa !important;
  border-radius: 12px;
  border: none !important;
  outline: none;
  box-shadow: none !important;
  padding: 14px 25px 11px;
  font-size: 13px;
  direction: rtl;
  transition: .3s;
}

.acc-info-container input[disabled] {
  padding: 0;
  background: transparent !important;
  color: #8F92A1;
  font-size: 15px;
}

.dashboard__link-icon {
  transform: rotate(180deg);
  transition: .3s;
}

.dashboard__table__link {
  width: 17px;
}

.dashboard__table__link:hover .dashboard__link-icon {
  transform: rotate(180deg) translate(3px);
}

.dashboard-aside li:hover img {
  display: none !important;
}

.dashboard-aside li:hover .dashboard-icon-active {
  display: inline-block !important;
}

.dashboard-aside li {
  cursor: pointer;
}

.dashboard-aside li a {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

.dashboard-aside li:hover a {
  color: $my-orange;
}

.dashboard-acc__edit-btn {
  transition: .3s;
}

.dashboard-acc__edit-btn:hover {
  filter: invert(82%) sepia(25%) saturate(755%) hue-rotate(343deg) brightness(150%) contrast(98%);
}