.index-slider img {
  width: 100%;
}

.index-slider .swiper-slide {
  border-radius: 14px;
  overflow: hidden;
}

.index-slider .swiper-slide:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(transparent 50%, rgba(0, 0, 0, 0.6) 110%);
}

.index-slider .swiper-slide .position-absolute {
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 20px 35px;
  z-index: 10;

  @media screen and (min-width: 48em) {
    padding: 45px 75px;
  }
}

.index-slider .swiper-slide .index-slider__off {
  font-weight: bold;
  font-size: 12px;
  color: #FFFFFF;
  @media screen and (min-width: 48em) {
    font-size: 30px;
  }
}

.index-slider__title {
  font-weight: bold;
  color: #FFFFFF;
  margin-bottom: 5px;
  font-size: 28px;

  @media screen and (min-width: 48em) {
    font-size: 70px;
    margin-bottom: 20px;
  }
}

.index-slider__button img {
  border-radius: 4px !important;
  width: 9px;
  height: 9px;

  @media screen and (min-width: 48em) {
    width: unset;
    height: unset;
  }
}

.index-slider__button {
  background: #FFFFFF;
  display: flex;
  align-items: center;
  white-space: nowrap;
  border-radius: 6px;
  border: none;
  color: $my-orange;
  font-weight: bold;
  transition: .3s;
  font-size: 5px;
  padding: 3px;

  @media screen and (min-width: 48em) {
    font-size: 13px;
    padding: 8px;
  }
}

.index-slider .swiper-pagination-bullet {
  width: 3px;
  height: 3px;
  border-radius: 1000000000px !important;
  transition: .3s;
  background: #FFFFFF;
  opacity: .5;

  @media screen and (min-width: 48em) {
    width: 9px;
    height: 9px;
  }
}

.index-slider .swiper-pagination-bullet-active {
  width: 12px;
  opacity: 1;
  @media screen and (min-width: 48em) {
    width: 29px;
  }
}

.index-slider__pagination {
  position: absolute;
  bottom: 0;
  left: 50% !important;
  transform: translate(-50%);
  z-index: 10;
  pointer-events: none;
  padding: 0 20px;
  width: 100% !important;

  @media screen and (min-width: 36em) {
    width: 83% !important;
  }
  @media screen and (min-width: 48em) {
    width: 71% !important;
    padding: 20px 30px;
  }
  @media screen and (min-width: 75em) {
    width: 62.5% !important;
  }
  @media screen and (min-width: 87.5em) {
    width: 50% !important;
  }
}

.index-slider .swiper-slide:hover .index-slider__button {
  transform: translate(-10%);
}

.category-slider .swiper-slide {
  width: calc(100% / 8);
  min-width: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 20px;
}

.category-slider__button-next {
  padding-right: 7px;
}

.category-slider__button-prev {
padding-left: 7px;
}

.category-slider .swiper-wrapper img {
  border-radius: 10000000px;
  border: 1px solid #E9E9E9;
}

.category-slider__container {
  margin-top: 40px;
}

.category-slider__container > div {
  background: #FFFFFF;
  border-radius: 14px;
  box-shadow: 0 10px 26px rgba(154, 154, 154, 0.15);
  padding-top: 20px;
  padding-bottom: 20px;

}

.offer-cards {
  color: #FFFFFF;
  text-align: center;
}

.offer-cards img {
  border-radius: 14px;
}

.offer-cards .position-absolute {
  bottom: 13%;
  left: 50%;
  transform: translate(-50%);
  width: 100%;
}

.offer-cards__first-line {
  font-size: 20px;
  font-weight: bold;
}

.offer-cards__second-line {
  font-size: 25px;
  font-weight: bold;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}

.banner-container {
  margin-top: 80px;
  margin-bottom: 80px;
}

.instant-offer__heading {
  font-size: 25px;
  font-weight: 900;
  display: flex;
  align-items: center;
}

.instant-offer-section {
  margin-top: 70px;
}

.angel-next {
  transform: rotate(180deg);
}

.mobile-size-slider-buttons-container {
  width: 50px;
  z-index: 5;

  & div {
    width: 20px;
  }
}

.instant-offer__heading-container {
  border-bottom: 1px solid #E4E4E4;
  padding-bottom: 15px;
  position: relative;
  z-index: 5;
  @media screen and (min-width: 48em) {
    border-bottom: none;
    padding-bottom: unset;
  }
}

.instant-offer-container .swiper-pagination-bullet {
  background: #757575;
  transition: .3s;
  border-radius: 1000000px !important;
}

.instant-offer-container .swiper-pagination-bullet-active {
  background: #fb9f1f;
  width: 30px;
}

.instant-offer-pagination {
  padding-top: 20px;
  @media screen and (min-width: 48em) {
    display: none !important;
  }
}

.special-offers__timer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 50px;
  margin-bottom: 30px;

  @media screen and (min-width: 62em) {
    width: 31%;
    margin-bottom: 0;
  }
}

.special-offer-section {
  margin-top: 60px;
  position: relative;
  padding-top: 40px;
  padding-bottom: 40px;
  background-repeat: no-repeat;
  background-size: cover !important;
  background-position: center;
  border-radius: 14px;
  background: url("assets/images/special-offers-sm.svg");

  @media screen and (min-width: 62em) {
  background: url("assets/images/special-offers.svg");
    padding-right: 0;
    padding-left: 0;
  }
}

.special-offer-time {
  display: flex;
}

.special-offer-time > div {
  font-weight: bold;
  font-size: 32px;
  background: #FCA01F;
  border-radius: 8px;
  width: 40px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 5px;
  margin: 0 3px;
}

.font-50-heavy {
  font-size: 50px;
  font-weight: 900;
}

//.special-offers__timer > div {
//  font-size: 32px;
//}

.special-offer__values-container > div {
  width: 33.33%;
  display: flex;
  justify-content: center;
  font-size: 20px;
  font-weight: bold;
}

.special-offer__pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.special-offer__pagination .swiper-pagination-bullet {
  width: 9px;
  height: 9px;
  background: #FCA01F;
  opacity: 50%;
  border-radius: 99999px;
  transition: .3s;
}

.special-offer__pagination .swiper-pagination-bullet-active {
  width: 30px;
  background: #FCA01F;
  opacity: 1;
}

.special-offer-slider {
  max-width: calc(100% - 70px);

  @media screen and (min-width: 62em) {
    max-width: 100%;
  }
}

.special-package-container {
  position: relative;
  margin-top: 27px;
  @media screen and (min-width: 48em) {
    margin-top: 10px;
  }
}

.special-package, .best-selling-products {
  position: relative;
}

.special-package-container:before {
  content: '';
  background: url("assets/images/special-package-bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 24px;
  width: 100%;

  @media screen and (min-width: 36em) {
    left: -30px;
    width: calc(100% + 60px);
  }

  @media screen and (min-width: 48em) {
    left: -40px;
    width: calc(100% + 80px);
  }
}

.best-selling-products-container {
  margin-top: 27px;
  @media screen and (min-width: 48em) {
    margin-top: 10px;
  }
}

.best-selling-products-container:before {
  content: '';
  background: #e0e2e3;
  width: calc(100% + 80px);
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 24px;
  width: 100%;

  @media screen and (min-width: 36em) {
    left: -30px;
    width: calc(100% + 60px);
  }

  @media screen and (min-width: 48em) {
    left: -40px;
    width: calc(100% + 80px);
  }
}

.instant-offer-cards-container {
  margin-top: 20px;
  display: grid;
  grid-gap: 30px;
  grid-template-columns: auto;

  @media screen and (min-width: 36em) {
    grid-template-columns: 1fr 1fr;
  }

  @media screen and (min-width: 48em) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @media screen and (min-width: 62em) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.toranjkala-brands-container {
  border-radius: 14px;
  background: #FFFFFF;
  padding: 20px 20px 0 20px;
  margin-top: 60px;
  box-shadow: 0 10px 26px rgba(154, 154, 154, 0.15);
}

.toranjkala-brands-heading {
  font-size: 25px;
  font-weight: 900;
}

.special-offers__timer span:first-child {
  font-size: 16px;
}

.counseling-container {
  width: 100%;
  @media screen and (min-width: 48em) {
    width: unset;
  }
}