.login, .signup {
  box-shadow: 0 10px 26px rgba(154, 154, 154, 0.15);
  background: #FFFFFF;
  border-radius: 14px;
  width: 100%;
  margin-bottom: 40px;

  @media screen and (min-width: 48em) {
    width: calc(50% - 50px);
  }
}

.login-page__heading {
  font-size: 36px;
  font-weight: bold;
  display: block;
  margin: 20px;

  @media screen and (min-width: 48em) {
    margin: 50px;
  }
}

.login form, .signup form {
  padding: 0 20px 20px;

  @media screen and (min-width: 48em) {
    padding: 0 50px 50px;
  }
}

.login form img, .signup form img {
  transform: translateY(-4px);
}

.login form .form-control, .signup form .form-control,
.login form .form-check, .signup form .form-check {
  margin-bottom: 30px;
}

.login-btn, .signup-btn {
  width: 170px;
  height: 50px;
  color: #FFFFFF;
  border: none;
  border-radius: 12px;
  font-size: 16px;
}

.login-btn {
  background: $my-orange;
}

.signup-btn {
  background: $my-black
}

.login input:not([type="checkbox"]), .signup input:not([type="checkbox"]) {
  background: #f9f9fa !important;
  border-radius: 12px;
  border: none !important;
  outline: none;
  box-shadow: none !important;
  padding: 14px 25px 11px;
  font-size: 13px;
  direction: rtl;
}