.product-info {
  position: unset;
  top: 0;
  height: fit-content;

  @media screen and (min-width: 62em) {
    position: sticky;
  }
}

.product-info__off-badge {
  background: url("assets/images/product-info-off-badge-bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 59px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: #ffffff;
  font-size: 15px;
  font-weight: bold;
  padding-top: 3px;
  padding-left: 5px;
}

.product-info__title span {
  font-size: 30px;
  display: block;
  margin-left: 25px;
}

.product-info__price span:first-child {
  font-size: 40px;
}

.product-info__price span:nth-child(2) {
  font-size: 22px;
  margin-right: 5px;
}

.product-info__price span:last-child {
  font-size: 16px;
}

.product-info__price del {
  font-size: 24px;
  color: #FC1F1F;
}

.product-info__props {
  border-top: 1px solid #E9E9E9;
  border-bottom: 1px solid #E9E9E9;
  font-size: 16px;
  margin-top: 25px;
  padding-top: 30px;
  margin-bottom: 14px;
}

.product-info__brand-container {
  border: 1px solid #E9E9E9;
  border-radius: 7px;
  width: 110px;
  height: 55px;
  background: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.product-info__props-list {
  list-style: none;
  padding-right: 15px;
  margin-top: 30px;

  li {
    position: relative;
  }

  li:after {
    content: '';
    position: absolute;
    right: -15px;
    top: 50%;
    transform: translateY(-50%);
    background: #E2513D;
    width: 6px;
    height: 6px;
    border-radius: 50%;
  }
}

.category-links {
  margin-top: 20px;

  @media screen and (min-width: 75em) {
    margin-top: 45px;
  }
}

.category-links a, .tags-links a {
  color: $my-orange;
}

.banner-left-side-img {
  position: absolute;
  left: 1%;
  bottom: 0;
  height: 100%;

  @media screen and (min-width: 48em) {
    left: -3%;
  }
}

.banner-right-side-img {
  position: absolute;
  bottom: 0;
  max-width: 70%;
  right: 50%;
  transform: translateX(50%);

  @media screen and (min-width: 48em) {
    right: 0;
    transform: none;
    height: 100%;
    max-width: unset;
  }
}

.banner-content {
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%) translateY(-50%);
  width: 100%;

  @media screen and (min-width: 48em) {
    top: 50%;
  }
}

.banner-titre span:first-child {
  font-weight: bold;
  display: block;
  text-align: center;
  font-size: 26px;
}

.banner-titre span:nth-child(2) {
  font-weight: 700;
  display: block;
  text-align: center;
  font-size: 35px;
}

.banner-titre button {
  border: none;
  outline: none;
  border-radius: 6px;
  background: $my-black;
  font-weight: bold;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 150px;
  height: 37px;
  margin-top: 20px;
  font-size: 13px;
}

.banner-titre {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.shop-filters-container {
  width: 100%;
  @media screen and (min-width: 48em) {
    max-width: 272px;
  }
}

.shop-filters-container > div {
  box-shadow: 0 10px 26px rgba(154, 154, 154, 0.15);
  background: #FFFFFF;
  border-radius: 14px;
  overflow: hidden;
}

.shop-filters-container > div:not(:first-child) {
  margin-top: 40px;
}

.shop__selects-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #FFFFFF;
  border-radius: 14px;
  margin-bottom: 30px;
  height: 50px;
  padding: 0 10px;
}

.shop__selects-container .select-selected {
  height: 30px;
}

.shop__selects-container .select-selected:after {
  left: 10px;
}

.shop__selects-container .custom-select-container {
  width: 135px;
}

.shop-products-container {
  width: 100%;
  margin-top: 50px;

  @media screen and (min-width: 48em) {
    margin-top: 0;
    max-width: calc(100% - 330px);
  }
}

.shop-carts-container, {
  display: grid;
  grid-template-columns: 100%;
  grid-gap: 20px;

  @media screen and (min-width: 48em) {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    grid-gap: 10px;
  }
  @media screen and (min-width: 62em) {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 25px;
  }
}

.related-products__carts-container {
  margin-top: 20px;
  display: grid;
  grid-gap: 30px;
  grid-template-columns: auto;

  @media screen and (min-width: 36em) {
    grid-template-columns: 1fr 1fr;
  }

  @media screen and (min-width: 48em) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @media screen and (min-width: 62em) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.shop__show-more-carts {
  grid-column: 1/4;
  display: flex;
  justify-content: center;
  padding: 40px 0 20px;
  background: transparent;
  color: #757575;
  font-size: 16px;
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
}

:root {
  --ColorPrimaryDk: #193957;
  --ColorPrimaryLt: #31689b;
}

.range-slider {
  --range-slider-common-height: 2px;
  --range-slider-handle-width: 8px;
  --range-slider-handle-height: 8px;

  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

.range-slider > div {
  position: absolute;
  display: flex;
  align-items: center;
  left: 0;
  right: 0;
  height: var(--range-slider-common-height);
}

.range-slider > div > .range-slider-val-left,
.range-slider > div > .range-slider-val-right,
.range-slider > div > .range-slider-val-range {
  height: var(--range-slider-common-height);
}

.range-slider > div > .range-slider-val-left {
  position: absolute;
  left: 0;
  border-radius: 10px;
  background-color: #ccc;
  margin: 0;
}

.range-slider > div > .range-slider-val-right {
  position: absolute;
  right: 0;
  margin: 0;
  border-radius: 10px;
  background-color: #ccc;
}

.range-slider > div > .range-slider-val-range {
  position: absolute;
  left: 0;
  top: 0;
  height: var(--range-slider-common-height);
  border-radius: 14px;
  background-color: var(--ColorPrimaryLt);
}

.range-slider > div > .range-slider-handle {
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%) translateY(-50%);
  width: var(--range-slider-handle-width);
  height: var(--range-slider-handle-height);
  border-radius: 50%;
  background-color: $my-orange;
  text-align: left;

  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);
  outline: none;
  cursor: pointer;
}

div.range-slider > input[type="range"]::-ms-thumb {
  width: var(--range-slider-handle-width);
  height: var(--range-slider-handle-height);
  border: 0 none;
  border-radius: 0px;
  background: red;

  pointer-events: all;

}

div.range-slider > input[type="range"]::-moz-range-thumb {
  width: var(--range-slider-handle-width);
  height: var(--range-slider-handle-height);
  border: 0 none;
  border-radius: 0px;
  background: red;

  pointer-events: all;
}

div.range-slider > input[type="range"]::-webkit-slider-thumb {
  width: var(--range-slider-handle-width);
  height: var(--range-slider-handle-height);
  border: 0 none;
  border-radius: 0px;
  background: red;

  pointer-events: all;
  -webkit-appearance: none;
}

div.range-slider > input[type="range"]::-ms-fill-lower {
  background: transparent;
  border: 0 none;
}

div.range-slider > input[type="range"]::-ms-fill-upper {
  background: transparent;
  border: 0 none;
}

.range-slider > input[type="range"] {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: var(--range-slider-common-height);

  opacity: 0;
  filter: alpha(opacity=0);
  cursor: pointer;
  pointer-events: none;
  -webkit-appearance: none;
}

div.range-slider > input[type="range"]::-ms-track {
  background: transparent;
  color: transparent;

  -webkit-appearance: none;
}

div.range-slider > input[type="range"]::-moz-range-track {
  background: transparent;
  color: transparent;

  -moz-appearance: none;
}

div.range-slider > input[type="range"]:focus::-webkit-slider-runnable-track {
  background: transparent;
  border: transparent;
}

div.range-slider > input[type="range"]:focus {
  outline: none;
}

div.range-slider > input[type="range"]::-ms-tooltip {
  display: none;
}

.range-slider-tooltip {
  z-index: 2;
  margin-left: -12px;
  width: 28px;
  height: 28px;
  border-radius: 28px;
  background-color: var(--ColorPrimaryLt);
  color: #fff;
  text-align: center;
}


.range-slider-tooltip > span {
  font-size: 12px;
  font-weight: 700;
  line-height: 28px;
}

.shop-filter__category button {
  width: 100%;
  border: none;
  background: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.shop-filter-minus {
  height: 1px;
  width: 11px;
  background: $my-orange;
  display: inline-block;
}

.shop-filter__category ul {
  background: #F7F7F7;
  list-style: none;
  padding: 0;
  margin: 0;
}

.shop-filter__category a {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px 10px 40px;
}

.shop-filter__heading {
  font-size: 22px;
  font-weight: bold;
  padding: 12px 20px 10px;
  border-bottom: 1px solid #E9E9E9;
}

.shop-filters-container {
  button {
    padding: 10px 20px;
    border-bottom: 1px solid #E9E9E9;
  }

  li {
    border-bottom: 1px solid #E9E9E9;
  }
}

.shop-filter-categories-container > div:last-child > ul > li:last-child {
  border-bottom: none !important;
}

.shop-filter-categories-container ul {
  overflow: hidden;
  transition: .3s;
}

.shop-filter__category-closed ul {
  height: 0 !important;
}

.shop-filter__number-of-products {
  display: none;
}

.shop-filter__category-closed .shop-filter__number-of-products {
  display: inline-block;
}

.shop-filter__category-closed .shop-filter-minus {
  display: none;
}

.shop-filter__range-slider-container {
  padding: 25px 20px 20px;
}

.shop-filter__range-slider__props {
  margin-top: 20px;
  color: #757575;
}

.shop-filter__range-slider__props span {
  color: $my-black;
}

.shop-filter-brands ul {
  padding: 0;
  list-style: none;
  margin: 0;
}

.shop-filter-brands ul li label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  cursor: pointer;
}

.shop-filter-brands input {
  display: none;
}

.shop-filter-brands input + div {
  width: 11px;
  height: 11px;
  border-radius: 2px;
  border: 1px solid $my-black;
  position: relative;
  margin-left: 10px;
}

.shop-filter-brands input:checked + div:after {
  content: '';
  width: 9px;
  height: 9px;
  position: absolute;
  top: 0;
  left: 0;
  background: $my-orange;
  overflow: hidden;
}

.shop-main-content {
  margin-top: 60px;
}

.product-info__headers-container {
  border-bottom: 1px solid #E9E9E9;
  margin-bottom: 30px;
}

.product-info__headers-container button {
  border: none;
  background: transparent;
  font-size: 18px;
  font-weight: bold;
  margin: 0 15px;
  padding: 10px 0;

  &:first-child {
    margin-right: 0;
  }

  @media screen and (min-width: 48em) {
    font-size: 22px;
  }
}

.product-single__props-table {
  border-radius: 7px;
  width: 100%;
  font-size: 16px;
}

.product-single__props-table tr td {
  border: 1px solid #E9E9E9;
  padding: 15px 20px;
}

.product-single__props-table tr td:first-child {
  background: #f2f3f3;
}

.product-single__comment__profile__img-container {
  width: 40px;
  height: 40px;
  position: relative;
  margin-left: 20px;
}

.product-single__comment__profile__img {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
}

.product-single__comment__profile > div:last-child span:last-child {
  font-size: 12px;
  color: #8F92A1;
}

.product-single__comment__text {
  font-size: 16px;
  margin-top: 25px;
  margin-right: 60px;
  padding-left: 20px;
  padding-bottom: 23px;
  margin-bottom: 28px;
  border-bottom: 1px solid #f4f4f5;
}

.product-info button {
  border-radius: 12px;
  border: none;
  height: 41px;
}

.buy-now-btn {
  background: $my-orange;
  color: #FFFFFF;
  margin-left: 15px;
}

.add-to-basket-btn {
  background: $my-black;
  color: #FFFFFF;
  margin-left: 15px;
}

.compare-btn {
  background: transparent;
  margin-left: 20px;

  img {
    margin-left: 10px;
  }
}

.add-to-fav-btn {
  background: transparent;

  img {
    margin-left: 10px;
  }
}

.product-single-slider-thumb {
  margin-top: 10px;
}

.product-single-slider-thumb .swiper-slide {
  border: 1px solid #d6d8dc;
  border-radius: 14px;
  overflow: hidden;
}

.product-single-slider {
  border: 1px solid #d6d8dc;
  border-radius: 14px;
  overflow: hidden;
}

.product-single__product-counter {
  border: 1px solid #E9E9E9;
  border-radius: 12px;
  overflow: hidden;
  display: flex;
  align-items: stretch;
  width: 100px;
  height: 41px;

  button {
    background: transparent;
    width: 30px;
  }

  input {
    border: none !important;
    outline: none !important;
    text-align: center;
    width: calc(100% - 60px);
  }
}

.product-single__slider-container {
  margin-bottom: 30px;

  @media screen and (min-width: 62em) {
    margin-bottom: 0;
  }
}

.product-single__slider-container .product-single__slider__timer-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  background: rgba(27, 42, 48, 0.3);
  padding: 20px 0;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-info__headers-container button {
  position: relative;
}

.product-info__headers-container button.active:after {
  content: '';
  position: absolute;
  bottom: -2px;
  right: 0;
  height: 3px;
  background: $my-orange;
  width: 100%;
}

.write-comment-container span {
  font-size: 16px;
  font-weight: bold;
  margin-right: 15px;
}

.write-comment-container textarea {
  width: 100%;
  background: #f9f9fa;
  border-radius: 16px;
  border: none !important;
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 14px 25px 11px;
  box-shadow: none !important;
  outline: none !important;
}

.write-comment-container button {
  border-radius: 12px;
  background: $my-orange;
  border: none;
  width: 142px;
  height: 44px;
  color: #FFFFFF;
}

.related-products-section {
  background: #f7f7f7;
  padding: 70px 0 180px;
  margin-top: 100px;
  margin-bottom: -110px;
}

#video span {
  font-size: 28px;
  font-weight: bold;
}

#video p {
  font-size: 16px;
  margin-top: 15px;
  text-align: justify;
}

.shop__show-more-carts button:hover img {
  filter: invert(82%) sepia(25%) saturate(778%) hue-rotate(343deg) brightness(130%) contrast(98%);
}

.shop__show-more-carts button img {
  transition: .15s;
}

.product-single-slider .swiper-slide{
  height: 0;
  padding-top: 99%;
}
.product-single__slider-container .swiper-slide img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.product-single-slider-thumb .swiper-slide{
  height: 0;
  padding-top: 23%;
}