.shopping-cart-main-section {
  box-shadow: 0 10px 26px rgba(154, 154, 154, 0.15);
  background: #FFFFFF;
  border-radius: 14px;
  width: 100%;

  @media screen and (min-width: 75em) {
    width: calc(100% - 440px);
  }
}

.shopping-cart-main-section tr {
  border-bottom: 1px solid #e9e9e9;
}

.shopping-cart-main-section td, .shopping-cart-main-section th {
  vertical-align: middle;
  padding: 20px 10px;
}

.shopping-cart-main-section td:last-child, .shopping-cart-main-section th:last-child {
  padding-left: 19px;
  direction: ltr;
}

.shopping-cart-main-section td:first-child, .shopping-cart-main-section th:first-child {
  padding-right: 25px;
}

.shopping-cart-main-section tr td {
  font-size: 13px;
}

.shopping-cart-main-section tr td:first-child {
  font-size: 16px;
}

.shopping-cart-main-section__footer {
  padding: 20px 25px;
}

.update-shopping-cart-btn {
  background: $my-black;
  color: #FFFFFF;
  border-radius: 12px;
  width: 182px;
  height: 44px;
  margin-right: 15px;
  font-size: 17px;
  border: none;
}

.continue-shopping {
  font-size: 16px;
}

.off-code-container {
  border: 1px solid #E9E9E9;
  border-radius: 16px;
  padding: 4px;
  height: 44px;
}

.off-code-container button {
  border-radius: 12px;
  background: $my-orange;
  color: #FFFFFF;
  border: 0;
  height: 100%;
  padding: 0 20px;
}

.off-code-container input {
  border: none;
  outline: none;
  width: 200px;
}


.shopping-cart__product-counter {
  border: 1px solid #E9E9E9;
  border-radius: 12px;
  overflow: hidden;
  display: flex;
  align-items: stretch;
  width: 100px;
  height: 41px;

  button {
    background: transparent;
    width: 30px;
    border: none;
  }

  input {
    border: none;
    text-align: center;
    width: calc(100% - 60px);
  }
}

.shopping-cart-aside {
  max-width: 100% !important;

  @media screen and (min-width: 75em) {
    max-width: 380px !important;
  }
}

.related-products__header {
  border-bottom: 1px solid #e3e3e3;
}

.related-products__header .instant-offer__heading {
  font-size: 40px;
  font-weight: bold;
  position: relative;
  display: inline-block;
}

.related-products__header .instant-offer__heading:after {
  content: '';
  position: absolute;
  bottom: -1.5px;
  right: 0;
  width: 100%;
  height: 3px;
  background: #fca01f;
}

.related-products-section .related-products__carts-container{
  margin-top: 60px;
}