.aside__heading {
  background: $my-black;
  color: #FFFFFF;
  font-size: 22px;
  font-weight: bold;
  padding: 20px;
}

.shopping-cart-and-checkout-aside {
  @media screen and (min-width: 62em) {
    max-width: 380px;
  }
  border-radius: 14px;
  overflow: hidden;
  background: #FFFFFF;
  width: 100%;
  box-shadow: 0 10px 26px rgba(154, 154, 154, 0.15);
}

.shopping-cart-and-checkout-aside table tr:last-child {
  border-top: 1px solid #e9e9e9;
}

.shopping-cart-and-checkout-aside .btn {
  background: #00B517;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: bold;
  border-radius: 14px;
  height: 68px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

table tr:not(:last-child) .shopping-cart__price {
  font-size: 22px;
}

table tr:not(:last-child) .shopping-cart__toman {
  font-size: 13px;
}

table tr:last-child .shopping-cart__price {
  font-size: 32px !important;
  color: #00B517;
}

table tr:last-child .shopping-cart__toman {
  font-size: 20px;
  color: #00B517;
}

.aside__content-container {
  padding: 30px;
}

.shopping-cart-and-checkout-aside table {
  width: 100%;
}

.shopping-cart-and-checkout-aside table td {
  padding: 0 0 20px 0;
}

.shopping-cart-and-checkout-aside table tr:last-child td {
  padding: 20px 0;
}

.shopping-cart-and-checkout-aside table tr:first-child td:first-child,
.shopping-cart-and-checkout-aside table tr:last-child td:first-child,
.shopping-cart-and-checkout-aside table tr:nth-last-child(2) td:first-child {
  color: $my-black;
  font-size: 16px;
}

.shopping-cart-and-checkout-aside table tr td:first-child {
  font-size: 15px;
  color: #757575;
}