.breadcrumb-container {
  background: url("assets/images/breadcrumb-bg.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 102px;
  align-items: center;
  margin-bottom: 60px;
  display: none;
  @media screen and (min-width: 62em) {
    display: flex;
  }
}

.breadcrumb-container ol {
  margin: 0;
}