.instant-offer__button-next.d-none {
  position: absolute;
  right: 0;
  top: 50%;
  z-index: 2;
  transform: translateY(-50%) translateX(50%);
}

.instant-offer__button-prev.d-none {
  position: absolute;
  left: 0;
  top: 50%;
  z-index: 2;
  transform: translateY(-50%) translateX(-50%);
}

.my-cart__img-container img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.my-cart__img-container {
  background: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #E4E4E4;
  height: 0;
  padding-top: 90.051%;
  position: relative;
  overflow: hidden;
}


.my-cart {
  border-radius: 14px;
  overflow: hidden;
  box-shadow: 0 10px 26px rgba(154, 154, 154, 0.15);
  direction: rtl;
  position: relative;
}

.my-cart > a {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.my-cart.swiper-slide {
  height: auto;
}

.my-cart__footer {
  background: #fbfbfb;
  padding: 15px 20px;
}

.my-cart__footer > span:first-child {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: block;
}

.instant-offer {
  overflow: visible !important;
}

.instant-offer-container {
  padding: 40px 0;
  margin-top: -20px;
  position: relative;
}

.my-cart__off {
  display: none;
  background: $my-orange;
  color: #FFFFFF;
  font-size: 14px;
  position: absolute;
  left: 0;
  top: 0;
  padding-top: 10px;
  transform: rotate(-45deg) translate(-25%, -99%);
  width: 100px;
  text-align: center;
}

.off-active .my-cart__off {
  display: block !important;
}

.my-cart__footer__price {
  & span:first-child {
    font-size: 20px;
  }

  & span:nth-child(2) {
    font-size: 12px;
    margin-right: 5px;
  }

  & del {
    font-size: 16px;
    color: #FC1F1F;
    margin-right: 5px;
  }
}

.carts-with-shadow-container > div:after {
  content: '';
  width: 25px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
  background: linear-gradient(90deg, transparent, #f7f7f7);
}

.carts-with-shadow-container > div:before {
  content: '';
  width: 25px;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  background: linear-gradient(-90deg, transparent, #f7f7f7);
}

.carts-with-shadow-container > div {
  position: relative;
}