/*the container must be positioned relative:*/
.custom-select {
  max-width: 100%;
  position: relative;
  font-size: 13px;
}

.custom-select select {
  display: none; /*hide original SELECT element:*/
}

.select-selected {
  border-radius: 10px 10px 0 0 !important;
  display: flex;
  align-items: center;
  height: 44.5px;
  background-color: #f9f9fa;
  color: $my-black;
}

/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 50%;
  transform: translateY(-50%);
  left: 20px;
  background: url("assets/images/select-angel.svg");
  width: 8px;
  height: 4px;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  transform: rotate(180deg);
}

/*style the items (options), including the selected item:*/
.select-items div, .select-selected {
  padding: 8px 16px;
  cursor: pointer;
  user-select: none;
}

/*style items (options):*/
.select-items {
  position: absolute;
  background-color: #ededed;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

.closed-select-border-radius {
  border-radius: 10px !important;
}
