footer > div:first-child > div {
  background: rgba(255, 255, 255, 0.8);
  width: 100%;
  box-shadow: 0 10px 26px rgba(154, 154, 154, 0.15);
  border-radius: 14px;
  padding: 20px 30px;
  backdrop-filter: blur(20px);

  @media screen and (min-width: 48em) {
    width: calc(33.33% - 15px);
  }
}

footer > div:first-child > div > div > span:first-child {
  font-size: 24px;
  font-weight: bold;
}

.footer-bg {
  border-radius: 14px;
}

.counseling-container {
  position: relative;
  display: inline-block;
  border-radius: 14px;
  overflow: hidden;
}

.counseling-container:after {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  z-index: 1;
}

.counseling-container .position-absolute {
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  z-index: 2;
}

footer > div:nth-child(2) {
  background: #1b2a30;
  color: white;
  padding: 80px 0 30px 0;
}

.counseling-container > div > div > span {
  font-size: 15px;
}

.counseling-container > div > div > a {
  font-weight: bold;
  font-size: 25px;
}

footer ul {
  list-style: none;
  padding: 0;
  white-space: nowrap;
}

footer ul li {
  color: #AFAFAF;
  padding-top: 20px;
}

footer > div:nth-child(2) > .container {
  padding-top: 30px;
  display: grid;
  justify-content: space-between;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 30px;

  @media screen and (min-width: 62em) {
    grid-template-columns: 320px 270px min-content min-content 116px;
    grid-gap: 0;
  }
}

footer > div:nth-child(2) > .container > div:first-child {
  grid-column: 1/13;
  @media screen and (min-width: 48em) {
    grid-column: 1/7;
  }
  @media screen and (min-width: 62em) {
    grid-column: unset;
  }
}

footer > div:nth-child(2) > .container > div:nth-child(2) {
  grid-column: 1/13;
  @media screen and (min-width: 48em) {
    grid-column: 7/13;
  }
  @media screen and (min-width: 62em) {
    grid-column: unset;
  }
}

footer > div:nth-child(2) > .container > div:nth-child(3) {
  grid-column: 1/7;
  @media screen and (min-width: 48em) {
    grid-column: 1/4;
  }
  @media screen and (min-width: 62em) {
    grid-column: unset;
  }
}

footer > div:nth-child(2) > .container > div:nth-child(4) {
  grid-column: 7/13;
  @media screen and (min-width: 48em) {
    grid-column: 4/7;
  }
  @media screen and (min-width: 62em) {
    grid-column: unset;
  }
}

footer > div:nth-child(2) > .container > div:last-child {
  grid-column: 1/13;
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 30px;
  @media screen and (min-width: 48em) {
    grid-column: 7/13;
    display: block;
  }
  @media screen and (min-width: 62em) {
    margin-top: -25px;
    grid-column: unset;
  }
}

.footer__ul-2-cols {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}

.footer__ul__heading {
  white-space: nowrap;
  font-weight: bold;
}

.nemad-container, .neshan-container {
  width: 100%;
  height: 126px;
  background: #FFFFFF;
  border-radius: 14px;
  position: relative;
  max-width: 116px;

  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

footer > div:last-child {
  background: #10191d;
}

.location {
  color: #FFFFFF;
  font-size: 14px;
  max-width: 270px;
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;

  @media screen and (min-width: 48em) {
    margin-bottom: 0;
  }
}

footer > div:last-child > div > div:last-child {
  color: #9B9B9B;
  padding: 0 0 20px 0;

  @media screen and (min-width: 48em) {
    border-top: 1px solid #262e32;
    padding: 20px 0;
  }
}

footer > div:first-child > div {
  transform: translateY(50%);
}

footer > div:first-child > div:not(:last-child) {
  margin-bottom: 30px;
  @media screen and (min-width: 48em) {
    margin-bottom: 0;
  }
}

.social-media {
  opacity: .7;
}