.header-container {
  position: relative;
  padding-top: 10px;
  box-shadow: 0 20px 16px rgba(177, 177, 177, 0.2);
  background: #FFFFFF;
}

.header-container:before {
  content: '';
  background: $my-black;
  height: 10px;
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
}

.header-container:after {
  content: '';
  background: $my-black;
  height: 1px;
  bottom: 0;
  left: 0;
  position: absolute;
  width: 100%;
  opacity: .1;
}


.megasubmenu {
  padding: 1rem;
}

/* ============ desktop view ============ */
@media all and (min-width: 992px) {
  .megasubmenu {
    right: 100%;
    top: 0;
    min-height: calc(100% + 7px);
    min-width: 500px;
  }

  .dropdown-menu > li:hover .megasubmenu {
    display: block;
  }
}

/* ============ desktop view .end// ============ */


.nav-item.dropdown:hover > .dropdown-menu {
  display: block;
  font-size: 12px;
}

.header-first-part {
  grid-template-columns: 54px 134px 54px;
  justify-content: space-between;

  @media screen and (min-width: 62em) {
    grid-template-columns: min-content min-content 1fr min-content;

  }
}

.header-search-container form {
  border-radius: 16px;
  background: $my-grey;
  padding: 5px;
  height: 50px;
  margin-left: 50px;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  min-width: 300px;
}

.header-search-container ul {
  background: inherit;
  width: calc(100% + 10px);
  margin: 0 -5px;
  border-radius: 0 0 16px 16px;
  z-index: 5;
  list-style: none;
  padding: 0 0 5px 0;

  li {
    padding: 10px 15px 10px;
  }
}

.header-search-container form input {
  border: none;
  background: transparent;
  outline: none;
  width: calc(100% - 65px);
  padding-right: 10px;
}

.header-search-container form button {
  border: none;
  background: $my-black;
  border-radius: 14px;
  width: 60px;
}

.nav__account-link {
  background: $my-orange;
  border-radius: 12px;
  color: #ffffff;
  height: 41px;
  display: flex;
  align-items: center;
}

.nav__account-link a {
  padding: 4px 3px 4px 7px !important;
  color: #FFFFFF !important;
}

.shopping-cart-badge {
  border-radius: 50%;
  background: #CA2751;
  color: #ffffff;
  position: absolute;
  font-size: 10px;
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 8px;
  left: 0;

  @media screen and (min-width: 62em) {
    left: 8px;
  }
}

.dropdown-toggle::after {
  content: none !important;
}

.navbar-nav__category-button {
  border-radius: 12px 12px 0 0;
  background: $my-orange;
  color: #ffffff;
}
.navbar-nav__category-button > a{
  color: #FFFFFF !important;
}
.navbar-nav__category-button .dropdown-menu {
  background: #FFFFFF;
  border-top: 7px solid $my-orange;
}

.navbar-nav__category-button > .dropdown-menu {
  filter: drop-shadow(rgb(0 0 0 / 31%) 0 13px 56px);
}

.navbar-nav__category-button .dropdown-menu > li > a {
  height: 32px;
  border-bottom: 1px solid #e9e9e9;
}

.navbar-nav__category-button .dropdown-menu > li {
  background: #f7f7f7;
}

.navbar-nav__category-button .dropdown-menu li {
  color: $my-black;
}

.navbar-nav__category-button .dropdown-menu > li:hover {
  background: #f8eee1;
  color: $my-orange;
}

.navbar-nav__category-button .dropdown-menu .megasubmenu {
  top: -7px;
  border-radius: 7px 0 0 7px;
}

.megasubmenu__title {
  display: block;
  border-bottom: 1px solid #E9E9E9;
  padding: 6px 0;
}

.megasubmenu .title {
  padding: 10px 0;
  display: block;
}

.megasubmenu a {
  font-size: 12px;
  padding: 5px 0;
}

.megasubmenu .title, .megasubmenu__title {
  font-size: 14px;
}

.megasubmenu > div {
  padding: 0 20px;
}

.nav-bar__contact-ways {
  color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  padding-bottom: 20px;

  @media screen and (min-width: 62em){
    padding-bottom: 0;
  }
}

.nav-bar__contact-ways a {
  display: inline-flex;
  align-items: center;
}

.nav-bar__contact-ways a:first-child {
  margin-right: 10px;
  padding-right: 10px;
  border-right: 1px solid $my-orange;
}


.shopping-cart .dropdown-menu {
  filter: drop-shadow(rgb(0 0 0 / 31%) 0 13px 56px);
  background: #FFFFFF;
  border-radius: 7px;
  border-top: 7px solid $my-orange;
  left: 50%;
  transform: translate(-50%);
  top: 130%;
  width: 320px;
}

.shopping-cart .dropdown-menu:after {
  content: "";
  background: url(assets/images/triangle.svg);
  position: absolute;
  left: calc(50% + 4px);
  transform: translate(-50%);
  top: -17px;
  width: 12px;
  height: 11px;
}

.shopping-cart__title {
  font-size: 14px;
}

.shopping-cart__price {
  font-size: 14px;
  color: #757575;
}

.shopping-cart__close-btn {
  background: transparent;
  border: none;
}

.shopping-cart:hover:after {
  content: '';
  height: 50px;
  width: 320px;
  background: transparent;
  top: 100%;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

.shopping-cart li, .shopping-cart__links {
  border-bottom: 1px solid #e9e9e9;
}

.shopping-cart__links img {
  width: 17px;
}

.shopping-cart__links a:first-child {
  opacity: .75;
}

.shopping-cart__links a:last-child {
  opacity: .75;
  background: #00B517;
  color: #FFFFFF;
  border-radius: 14px;
}

.shopping-cart__total-price {
  opacity: .75;
}

#main_nav {
  @media screen and (max-width: 991px) {
    padding-left: 12px;
  }
}

.nav-item.dropdown:hover > .dropdown-menu {
  display: none !important;

  @media screen and (min-width: 62em) {
    display: block !important;
  }
}

.navbar-brand img {
  width: 82px;
  @media screen and (min-width: 62em) {
    width: unset;
  }
}

.shop-basket-mobile-size {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  max-width: 290px;
  background: #FFFFFF;
  z-index: 10;
  transform: translateX(-100%);
  transition: .3s;
  border-radius: 0 14px 14px 0;
  overflow: hidden;

  @media screen and (min-width: 62em) {
    display: none;
  }
}

.shop-basket-mobile-size.show {
  transform: translateX(0);
}

.shop-basket-mobile-size-close, .mobile-menu-close {
  background: $my-orange;
  height: 50px;
  width: 100%;
  color: #FFFFFF;
  font-size: 18px;
  padding: 0 15px;
  display: flex;
  align-items: center;
}

.mobile-menu {
  direction: ltr;
  border-radius: 14px 0 0 14px;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 100%;
  max-width: 340px;
  background: #FFFFFF;
  z-index: 10;
  transform: translateX(100%);
  transition: .3s;
  overflow-y: scroll;

  @media screen and (min-width: 62em) {
    display: none;
  }
}

.mobile-menu > * {
  direction: rtl;
}

.dashboard-page .mobile-menu .shop-filter-categories-container {
  min-height: unset !important;
}

.mobile-menu .dashboard-aside {
  width: 100%;
  box-shadow: none;
  background: transparent;
  display: none;
}

.dashboard-page .mobile-menu .dashboard-aside {
  display: block;
}

.mobile-menu .profile-container {
  padding: 15px 11px;
}

.mobile-menu .dashboard-aside ul {
  padding-left: 11px;
  padding-right: 11px;
}

.mobile-menu .shop-filter-categories-container {
  font-size: 12px;
  min-height: calc(100vh - 200px);
  margin-bottom: 20px;
}

.mobile-menu .shop-filter-categories-container > div {
  padding: 12px 10px 2px;
  border-bottom: 1px solid #e9e9e9;
}

.mobile-menu .shop-filter-categories-container > div > button {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  background: transparent;
}

.mobile-menu .shop-filter-categories-container ul {
  list-style: none;
  padding-right: 15px;
  padding-left: 15px;
  margin-bottom: 0;
  padding-top: 10px;
}

.mobile-menu .shop-filter-categories-container ul li {
  padding: 4px 0;
}

.mobile-menu .shop-filter-categories-container ul a {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.navbar-toggler {
  box-shadow: none !important;
}

.mobile-menu.show {
  transform: translate(0);
}

.resellers-badge {
  margin: 30px 20px 0;
  visibility: hidden;
  display: none;

  @media screen and (min-width: 62em) {
    display: block;
  }
}

.resellers-body .resellers-badge {
  visibility: visible;
}

.resellers-in-titre {
  font-size: 14px;
  font-weight: normal;
  background: $my-black;
  color: #FFFFFF;
  border-radius: 4px;
  padding: 0 5px;
  margin-right: 10px;
}

.mobile-menu-shadow, .mobile-shop-list-shadow {
  background: rgba(0, 0, 0, 0.53);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 7;
  pointer-events: none;
  opacity: 0;
  transition: .3s;
}

.mobile-menu-shadow.show, .mobile-shop-list-shadow.show {
  pointer-events: unset;
  opacity: 1;
}

.header-search-container ul img {
  width: 40px;
  height: 40px;
}

.header-search-item-titre .bold {
  font-weight: bold;
  color: $my-orange;
}